=transform($v)
  -webkit-transform: $v
  -moz-transform: $v
  -ms-transform: $v
  -o-transform: $v
  transform: $v

body, #canvas
  overflow-x: hidden

.slides
  overflow-x: hidden

  section
    position: absolute
    display: block
    transition: all 1s ease
    left: 0%

    margin: 16px
    padding: 16px

    width: 95%
    width: -webkit-calc(100% - 64px)
    width: calc(100% - 64px)

  section.to-see
    left: 100%

  section.seen
    left: -100%
